language: node_js
before_script:
  - mkdir ./private
  - mv ./sample-environment.yaml ./private/environment.yaml
node_js:
  - "node"
install:
  - npm install
script:
  # - npm run-script lint
  - npm test
after_success:
  - npm run cover